*.log
*.cache

*.sqlite3

*~
log/*
schemas.xml
db/schema.rb
*#
.#*
doc/basecamp-docs/*
.DS_Store
coverage/*

.sass-cache
.rvmrc
rdoc/

.bundle
*_flymake*
public/images/thumbnails
tmp
/docker-compose-prod.yml
