/* 
    style.scss

    Author:         Michael Pope
    Date:           12/11/2007
    Description:    Style sheet for pdfcat program written in Ruby on Rails
*/

/* SASS variables */
$link-color: #6088A8;
$highlight-color: #F7EFAA;
$footer-color: #5b5441;
$normal-font-size: 12px;
$bar-height: 20px;

/* SASS mixins */
@mixin absolute($index) {
	position: absolute;
	z-index: $index;
	display: block;
}

@mixin block($height) {
	display: block;
	height: $height;
}

@mixin normal-font {
	color: #000;
	font-size: $normal-font-size;
	text-align: left;
}

@mixin bold-font {
	@include normal-font;
	font-weight: bold;
}

@mixin nav-font {
	font: {
		size: $normal-font-size;
		family: verdana, arial, helvetica, sans-serif;
	}
}


/********************* Main Area *********************/
	body {
		margin: 0; 
		background-color: #e7dfcb;
		color: #333; 
	}
		body, p, ol, ul, td {
			@include normal-font;
			line-height: 18px;
		}

		pre {
			padding: 10px;
			background-color: #eee;
			font-size: 11px;
		}

		a { color: $link-color; font-weight: bold; }
		a:visited {  }
		a:hover { color: white; background-color: $link-color; cursor:pointer; }

		h1{
			margin: {	top: 30px;	bottom: 25px;	}
			color: #999;
			font: {	style: italic;	size: 20px;
			}
		}

		.fieldWithErrors {
			padding: 2px;
			display: table;
			background-color: red;
		}

		#errorExplanation {
			padding: 7px;
			padding-bottom: 12px;
			margin-bottom: 20px;
			width: 400px;
			border: 2px solid red;
			background-color: #f0f0f0;

			h2 {
				@include bold-font;
				padding: 5px 5px 5px 15px;
				margin: -7px;
				background-color: #c00;
				color: white;
			}
			p {
				padding: 5px;
				margin-bottom: 0;
				color: #333;
			}
			ul li {
				list-style: square;
				font-size: 12px;
			}
		}

		.uploadStatus {	margin: 5px;	}

		.progressBar {
			margin: 5px;

			.border {
				border: 1px solid grey;
				width: 100%;
				background-color: #fff;
			}
			.background {
				height: 18px;
				width: 0%;
				background-color: #333;
			}
		}

		#contentBox{ 
			padding-bottom: 50px;
			margin: 20px;
      margin-top: 50px;
			border: 1px solid #000;
			background-color: #fff;
		}

		#contentInner{
			padding: {
				left: 20px;
				right: 20px;
			}
		}

		#headingback{
			padding: {
				top: 30px;
				left: 10px;
				right: 10px;
			}
			height: 40px;
			min-width: 697px;
			background-color: #032271;
			color: white;
		}

		#heading{
			float: left;
			width: 400px;
			font: {
				style: Arial, Helvetic, sans-serif;
				size: 170%;
				weight: bold;
			}
			text-align: left;
		}

		#search{
			position:absolute;
			right:10px;
			width: 650px;
		
			input { 
				width: 100px;
				border: 1px solid #888;
				font-size: 100%;
			}
		}

		.searchbox{
			margin: 0;
			border: 0;
			height: 15px;
		}

		.searchitem{
			width: 85px;
			height: 18px;
			background-color: #1b5472;
			color: white;
			font-weight: bold;
			text: {
				align: center;
				decoration: none;
			}
		}

		.searchitem:hover{
			background-color: #4e87a5;
		}
		/********************* Login Page *********************/
		div#loginform{
			width: 600px;
			height: 100px;
			padding: 10px;
		}

		/********************* Menu Section *********************/
		.nav{
			@include nav-font;
			@include absolute(104);
			margin:0;
			top:$bar-height;
			left:0px;
			width:100%;
			height:$bar-height;
			background-color: #bfb086;			
		}

		.navpgs{
			@include nav-font;
			padding: {
				bottom:0;
				right:30px;
				left:30px;
			}
			margin-bottom:$bar-height;
			height:54px;
			min-width:750px;
			background-color: #0A4371;
		}

		.pagination{ padding-top:20px;		}

		.pagination a{ 	font-weight:bold;	}

		.menuitem{
			@include bold-font;
			float:left;
			margin-right:8px;
			width:85px;
			height:$bar-height;

			font-size:11px;
			text: {
				align: center;
				decoration: none;
			}
			&:hover{		background-color: #979388; cursor:pointer; }
		}

		/********************* Tables *********************/
		table{
			width: 100%;
			border-spacing: 0px;
			tr{
				text-align: left;
				#listitem:hover{	background-color: #FFE887;}
			}
		}

		.action{	font-size: 80%;}

		/********************* Forms **********************/
		input, textarea{
			@include normal-font;
			border: 1px solid #888;
		}

    label{float: left;width: 150px;}

		/********************* Listing **********************/
		.highlight{ 	background-color: $highlight-color;}
		.clear { background-color: white; }

		/********************* Information Boxes **********************/
		/* Help, Mode, etc boxes */

		#info{ 
			position:absolute;
			z-index: 20;
			bottom: 40px;
			right: 16px;
			width:100%;
			height:100px;
			background-color: $highlight-color;
		}

		#mode{
			padding-top: 30px;
			width: 100%;
			font: {
				size: 30px;
				weight: bold;
			}
			text-align: center;
		}

		/********************* Errors *********************/
		.err{
			color: red;
			font: {
				size: 90%; 
				weight:bold;
			}
		}

		/********************* Link *********************/
		.link_add{	font-size:80%;}

		/********************* Help Popups *********************/
		/*
				help_tip is for any information which will not obstruct the users view
				of the main process and add helpful information to help speed up the users
				response.
		*/
		.help_title{
			font: {
				weight:bold;
				size:120%;
			}
		}

		#help_jump, #help_del, #help_edit, #help_rotate, #help_mail, #help_view{
			@include normal-font;
			@include absolute(4);
			visibility: hidden;
			bottom: 0px;
			width: 100%; 
			height: 130px; 
			margin: 0;
			background: #FFE887;
		}

		/********************* Popups *********************/
		#item{
			@include normal-font;
			@include absolute(4);
			top: 20%;
			left: 25%;
			margin: 0;
			width: 50%; 
			height: 200px; 
			background: #FFE887;
		}

		#help{
			@include normal-font;
			@include absolute(4);
			bottom: 0;
			right: 0;
			padding: 1%;
			margin: 0;
			width: 25%; 
			height: 98%; 
			background: #FFE887;
		}

		/********************* Header *********************/
		#flash {
			position: absolute;
			bottom: 40px;
			width: 100%;
			background: green;
			color: white;
			font-weight: bold;
			text-align: center;
		}

		#head {
			@include normal-font;
			@include absolute(104);
			top:0;
			margin:0;
			width:100%; 
			height:$bar-height; 
			background:#979388;
		}

		#headerLeft {
			@include absolute(111);
			left: 18px;
			color: $footer-color;
		}

		#headerRight {
			@include absolute(111);
			right:18px;
			width:500px;
			height:$bar-height;
			color: $footer-color;
			text-align:right;
		}

		#headerAPP{
			font: {
				style: italic;
				weight: bold;
			}
		}

		#background_tint{
			@include absolute(1000);
			left:0;
			top:0;
			width: 100%;
			height: 100%;
			background: black;
			filter:alpha(opacity=50); /* IE's opacity*/
			opacity: 0.50;
		}

		#background_center{
			@include absolute(1001);
			left:0;
			top:0;
			width: 100%;
			height: 100%;
			text-align: center;
		}

		#wait{
			@include bold-font;
			position: relative;
			z-index: 4;
			padding: 30px;
			width: 400px; 
			border: 2px solid red;
			background: #FFE887;
		}

		.pad1{
			@include block(5px);
			float:left;
			width:16px; 
		}

		/* Padding for header */
		.pad2 {	@include block(40px);	}

		/* Padding for footer */
		.pad3 {	@include block(25px);	}