/* 
    style.scss

    Author:         Michael Pope
    Date:           12/11/2007
    Description:    Style sheet for pdfcat program written in Ruby on Rails
*/
/* SASS variables */
/* SASS mixins */
/********************* Main Area *********************/
body {
  margin: 0;
  background-color: #e7dfcb;
  color: #333; }

body, p, ol, ul, td {
  color: #000;
  font-size: 12px;
  text-align: left;
  line-height: 18px; }

pre {
  padding: 10px;
  background-color: #eee;
  font-size: 11px; }

a {
  color: #6088A8;
  font-weight: bold; }

a:hover {
  color: white;
  background-color: #6088A8;
  cursor: pointer; }

h1 {
  margin-top: 30px;
  margin-bottom: 25px;
  color: #999;
  font-style: italic;
  font-size: 20px; }

.fieldWithErrors {
  padding: 2px;
  display: table;
  background-color: red; }

#errorExplanation {
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  width: 400px;
  border: 2px solid red;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    color: #000;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    background-color: #c00;
    color: white; }
  #errorExplanation p {
    padding: 5px;
    margin-bottom: 0;
    color: #333; }
  #errorExplanation ul li {
    list-style: square;
    font-size: 12px; }

.uploadStatus {
  margin: 5px; }

.progressBar {
  margin: 5px; }
  .progressBar .border {
    border: 1px solid grey;
    width: 100%;
    background-color: #fff; }
  .progressBar .background {
    height: 18px;
    width: 0%;
    background-color: #333; }

#contentBox {
  padding-bottom: 50px;
  margin: 20px;
  margin-top: 50px;
  border: 1px solid #000;
  background-color: #fff; }

#contentInner {
  padding-left: 20px;
  padding-right: 20px; }

#headingback {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  min-width: 697px;
  background-color: #032271;
  color: white; }

#heading {
  float: left;
  width: 400px;
  font-style: Arial, Helvetic, sans-serif;
  font-size: 170%;
  font-weight: bold;
  text-align: left; }

#search {
  position: absolute;
  right: 10px;
  width: 650px; }
  #search input {
    width: 100px;
    border: 1px solid #888;
    font-size: 100%; }

.searchbox {
  margin: 0;
  border: 0;
  height: 15px; }

.searchitem {
  width: 85px;
  height: 18px;
  background-color: #1b5472;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none; }

.searchitem:hover {
  background-color: #4e87a5; }

/********************* Login Page *********************/
div#loginform {
  width: 600px;
  height: 100px;
  padding: 10px; }

/********************* Menu Section *********************/
.nav {
  font-size: 12px;
  font-family: verdana, arial, helvetica, sans-serif;
  position: absolute;
  z-index: 104;
  display: block;
  margin: 0;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 20px;
  background-color: #bfb086; }

.navpgs {
  font-size: 12px;
  font-family: verdana, arial, helvetica, sans-serif;
  padding-bottom: 0;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
  height: 54px;
  min-width: 750px;
  background-color: #0A4371; }

.pagination {
  padding-top: 20px; }

.pagination a {
  font-weight: bold; }

.menuitem {
  color: #000;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  float: left;
  margin-right: 8px;
  width: 85px;
  height: 20px;
  font-size: 11px;
  text-align: center;
  text-decoration: none; }
  .menuitem:hover {
    background-color: #979388;
    cursor: pointer; }

/********************* Tables *********************/
table {
  width: 100%;
  border-spacing: 0px; }
  table tr {
    text-align: left; }
    table tr #listitem:hover {
      background-color: #FFE887; }

.action {
  font-size: 80%; }

/********************* Forms **********************/
input, textarea {
  color: #000;
  font-size: 12px;
  text-align: left;
  border: 1px solid #888; }

label {
  float: left;
  width: 150px; }

/********************* Listing **********************/
.highlight {
  background-color: #F7EFAA; }

.clear {
  background-color: white; }

/********************* Information Boxes **********************/
/* Help, Mode, etc boxes */
#info {
  position: absolute;
  z-index: 20;
  bottom: 40px;
  right: 16px;
  width: 100%;
  height: 100px;
  background-color: #F7EFAA; }

#mode {
  padding-top: 30px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center; }

/********************* Errors *********************/
.err {
  color: red;
  font-size: 90%;
  font-weight: bold; }

/********************* Link *********************/
.link_add {
  font-size: 80%; }

/********************* Help Popups *********************/
/*
		help_tip is for any information which will not obstruct the users view
		of the main process and add helpful information to help speed up the users
		response.
*/
.help_title {
  font-weight: bold;
  font-size: 120%; }

#help_jump, #help_del, #help_edit, #help_rotate, #help_mail, #help_view {
  color: #000;
  font-size: 12px;
  text-align: left;
  position: absolute;
  z-index: 4;
  display: block;
  visibility: hidden;
  bottom: 0px;
  width: 100%;
  height: 130px;
  margin: 0;
  background: #FFE887; }

/********************* Popups *********************/
#item {
  color: #000;
  font-size: 12px;
  text-align: left;
  position: absolute;
  z-index: 4;
  display: block;
  top: 20%;
  left: 25%;
  margin: 0;
  width: 50%;
  height: 200px;
  background: #FFE887; }

#help {
  color: #000;
  font-size: 12px;
  text-align: left;
  position: absolute;
  z-index: 4;
  display: block;
  bottom: 0;
  right: 0;
  padding: 1%;
  margin: 0;
  width: 25%;
  height: 98%;
  background: #FFE887; }

/********************* Header *********************/
#flash {
  position: absolute;
  bottom: 40px;
  width: 100%;
  background: green;
  color: white;
  font-weight: bold;
  text-align: center; }

#head {
  color: #000;
  font-size: 12px;
  text-align: left;
  position: absolute;
  z-index: 104;
  display: block;
  top: 0;
  margin: 0;
  width: 100%;
  height: 20px;
  background: #979388; }

#headerLeft {
  position: absolute;
  z-index: 111;
  display: block;
  left: 18px;
  color: #5b5441; }

#headerRight {
  position: absolute;
  z-index: 111;
  display: block;
  right: 18px;
  width: 500px;
  height: 20px;
  color: #5b5441;
  text-align: right; }

#headerAPP {
  font-style: italic;
  font-weight: bold; }

#background_tint {
  position: absolute;
  z-index: 1000;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  filter: alpha(opacity=50);
  /* IE's opacity*/
  opacity: 0.50; }

#background_center {
  position: absolute;
  z-index: 1001;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center; }

#wait {
  color: #000;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  position: relative;
  z-index: 4;
  padding: 30px;
  width: 400px;
  border: 2px solid red;
  background: #FFE887; }

.pad1 {
  display: block;
  height: 5px;
  float: left;
  width: 16px; }

/* Padding for header */
.pad2 {
  display: block;
  height: 40px; }

/* Padding for footer */
.pad3 {
  display: block;
  height: 25px; }

/*# sourceMappingURL=style.css.map */
