<% form_for(@client) do |f| %>

  <%= f.text_field :name %>
  <%= f.text_field :email %>
  <%= f.submit %>

<% end %>

<%= link_to 'Back', :action => 'index' %>

<!-- Add your focus after all the text fields have been made -->
<script>$('client_name').focus();</script>
