<%= error_messages_for 'client' %>

<!--[form:client]-->
<p><label for="client_name">Name</label><br/>
<%= text_field 'client', 'name'  %></p>

<p><label for="client_email">Email</label><br/>
<%= text_field 'client', 'email'  %></p>

<!-- Add your focus after all the text fields have been made -->
<script>$('client_name').focus();</script>
<!--[eoform:client]-->

