<%= shortcut_function 's', "$('query').focus();$('query').style.backgroundColor='#FFE887';" %>  <!-- Disable Add New -->
<%= render :partial => "clients/search" %>

<h1>Listing clients</h1>

<div id="listing"><%= render :partial => "listing" %></div>

<%= link_to_remote 'New client', 
    :update => 'ajaxFormInner',
    :url => {:action => 'new'},
    :before => "$('ajaxForm').show()",
    :html => {:id => 'newajax'} %>

