<h1><%=h @client.name %></h1>

<%= shortcut 'e', edit_client_path %>

<% for column in Client.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @client.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @client %> |
<%= link_to 'Back', :action => 'index' %>
