<!-- Edit -->
<%= shortcut 'e', "#{BASE_URL}/" + controller.controller_name + "/edit/" +  @id  %> 

<% for column in Client.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @client.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @client %> |
<%= link_to 'Back', :action => 'index' %>
