<h1>File upload</h1>

<table>
	<tr>
		<th>File Name</th>
	</tr>
    <% for list_file in @upload.list_files %> <!-- call the list_files method in the model -->
	<tr id=listitem>
		<td><%= link_to list_file,	:controller => 'pdfs', :action => "attachment_new", :filename => list_file %> </td>
        <td><%= link_to 'Enter',	:controller => 'pdfs', :action => 'new', 		:filename => list_file %></td>
		<td><%= link_to 'Del',		:action => 'destroy',:filename => list_file %></td>
    </tr>
<% end %>

