<html>
	<body>
		<%= @body %>

		<p style='color:#777'>
		Note: If this email is not received by the intended party, <br />
		kindly delete, and if possible advise us of the error. Thank you.
		</p>
	</body>
</html>




