<html>
	<body>
		<h1><%= @pdf.category.name %></h1>
		<p>Please find attached a pdf report <%= @pdf.filename %></p>

		<%= @body %>

		<p style='color:#777'>
			If this email is not received by the intended party, kindly delete, and if possible advise us of the error. Thank you.
		</p>
	</body>
</html>




