<%= error_messages_for 'category' %>

<!--[form:category]-->
<p><label for="category_name">Name</label><br/>
<%= text_field 'category', 'name'  %></p>

<p><label for="category_description">Description</label><br/>
<%= text_field 'category', 'description'  %></p>


<!-- Add your focus after all the text fields have been made -->
<script>
	$('category_name').focus();
</script>

<!--[eoform:category]-->

