<h1><%=h @category.name %></h1>

<%= shortcut 'e', edit_category_path %>

<% for column in Category.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @category.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @category %> |
<%= link_to 'Back', :action => 'index' %>
