<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= SITE_NAME %> :<%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>		<!-- Used for AJAX and shortcuts plugin -->

</head>
<body>
	<!-- Nav keys -->
	<%= shortcut '!', "#{BASE_URL}/new" %>
	<%= shortcut '@', "#{BASE_URL}/pdfs" %>
	<%= shortcut '#', "#{BASE_URL}/clients" %>
	<%= shortcut '$', "#{BASE_URL}/categories" %>


	<%= shortcut_function '?', "Element.toggle('help');"  %>


	<!-- General shortcuts -->
	<%= shortcut 'a', "#{BASE_URL}/" + controller.controller_name + "/new" %>	<!-- Add New -->
	<%= shortcut 'b', "#{BASE_URL}/" + controller.controller_name  %>			<!-- Back --> 

	<div id="headingback">
		<div id="heading"><%=h controller.controller_name.singularize %></div>
	</div>

	<div class="nav">
		<%= link_to '<div class="menuitem">New</div>', :controller => 'new' %>
		<%= link_to '<div class="menuitem">Pdf</div>', :controller => 'pdfs' %>
		<%= link_to '<div class="menuitem">Client</div>', :controller => 'clients' %>
		<%= link_to '<div class="menuitem">Category</div>', :controller => 'categories' %>
		<%= link_to_function '<div class="menuitem">Help</div>', "Element.toggle('help');" %>
	</div>
	

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<div id=help style="display:none">
	<h2>HELP - Shortcut Keys</h2>
	<b>Page Navigation</b><br />
	New Page      = !<br />
	Pdfs Page     = @<br />
	Client Page   = #<br />
	Category Page = $<br />
	<br />
	<b>Listing Navigation</b><br />
	Search		  = s<br />
	Next Page	  = n<br />
	Previous Page = p<br />
	<br />
	<b>Item Management</b><br />
	Add new item  = a<br />
	Edit item     = e<br />
	Destroy item  = d<br />
	Show item     = 0-9<br />
	View pdf      = v<br />
	Email item	  = m<br />
</div>

<div id=footer>
	Hit '?' for help
</div>

</body>
</html>
