<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= SITE_NAME %> :<%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'pdfcat' %>

  <%= javascript_include_tag 'prototype', 'select_mode' %>

  <%= javascript_include_tag :defaults %>		<!-- Used for AJAX and shortcuts plugin -->

  <!-- Calculate the size of a window -->
  <script>
    var winW = 630, winH = 460;

      if (parseInt(navigator.appVersion)>3) {
        if (navigator.appName=="Netscape") {
          winW = window.innerWidth;
          winH = window.innerHeight;
        }
  
      if (navigator.appName.indexOf("Microsoft")!=-1) {
        winW = document.body.offsetWidth;
        winH = document.body.offsetHeight;
      }
    }
  </script>

</head>
<body>
        <!-- ESC key done using Hex 
             1B(hex base 16) = 27 (decimal base 10)
             We do this so that it hits a different area of the shortcut.js, 
             it checks the KeyCode instead of the code.-->
        <%= shortcut_function '\x1B', "hide_all();" %>     <!-- ESC key -->

        <!-- Nav keys -->
	<%= shortcut_fnkey '1', "#{request.env['SCRIPT_NAME']}/new" %>
	<%= shortcut_fnkey '2', "#{request.env['SCRIPT_NAME']}/pdfs" %>
	<%= shortcut_fnkey '3', "#{request.env['SCRIPT_NAME']}/clients" %>
	<%= shortcut_fnkey '4', "#{request.env['SCRIPT_NAME']}/categories" %>
	<%= shortcut_fnkey '7', "#{request.env['SCRIPT_NAME']}/missing" %>
	<%= shortcut_fnkey '8', "#{request.env['SCRIPT_NAME']}/users" %>
	<%= shortcut_fnkey '9', "#{request.env['SCRIPT_NAME']}/firms" %>
	<%= shortcut_fnkey '10', "#{request.env['SCRIPT_NAME']}/logout" %>

	<%= shortcut_function '?', "Element.toggle('help');"  %>
	<%= shortcut_function 'h', "Element.toggle('help');"  %>

	<!-- Item selection keys. -->
	<%= shortcut_function '1', "highlight(1);$('info').show();" %>
	<%= shortcut_function '2', "highlight(2);$('info').show();" %>
	<%= shortcut_function '3', "highlight(3);$('info').show();" %>
	<%= shortcut_function '4', "highlight(4);$('info').show();" %>
	<%= shortcut_function '5', "highlight(5);$('info').show();" %>
	<%= shortcut_function '6', "highlight(6);$('info').show();" %>
	<%= shortcut_function '7', "highlight(7);$('info').show();" %>
	<%= shortcut_function '8', "highlight(8);$('info').show();" %>
	<%= shortcut_function '9', "highlight(9);$('info').show();" %>
	<%= shortcut_function '0', "highlight(10);$('info').show();" %>

	<%= shortcut_function 'v', "hide_all();runSelectedName('view');" %>

	<%= shortcut_function 'm', "runSelectedName('email');" %>
	
	<%= shortcut_function 's', "runSelectedName('show');" %>
	<%= shortcut_function '/', "runSelectedName('show');" %>

	<%= shortcut_function 'e', "runSelectedName('edit');" %>
	<%= shortcut_function '*', "runSelectedName('edit');" %>

	<%= shortcut_function 'd', "runSelectedName('del');" %>
	<%= shortcut_function '-', "runSelectedName('del');" %>

	<%= shortcut_function 't', "runSelectedAjaxName('tagajax');$('info').hide();" %>

	<!-- General shortcuts -->
	<%= shortcut 'a', "/" + controller.controller_name + "/new" %>	<!-- Add New -->
	<%= shortcut '+', "/" + controller.controller_name + "/new" %>	<!-- Add New -->

	<%= shortcut_ctrl 'b', "/" + controller.controller_name  %>			<!-- Back --> 


	




<div id="contentBox">
  <div id="contentInner">
    <%= yield  %>
  </div>
</div>

<div id=help style="display:none">
	<h2>HELP - Shortcut Keys</h2>
	<p>If an item is highlighted in red it means the file is missing.  This is shown after a relink has been done so you will either have to rescan this item or find a backup of the file.</p>

	<table>
	  <th>Page Navigation</th>
	  <th>Key</th>
	  <tr><td>New Page</td><td>F1</td></tr>
	  <tr><td>Pdfs Page</td><td>F2</td></tr>
	  <tr><td>Client Page</td><td>F3</td></tr>
	  <tr><td>Category Page</td><td>F4</td></tr>
	  <tr><td>Users</td><td>F8</td></tr>
	  <tr><td>Firms</td><td>F9</td></tr>
	  <tr><td>Logout</td><td>F10</td></tr>
	</table>
 	<br />
	<table>
	  <th>Listing Navigation</th>
	  <th>Key</th>
	  <tr><td>Search</td><td>CTRL+s</td></tr>
	</table>
	<br />
	<table>
	  <th>Item Management</th>
	  <th>Key</th>
	  <tr><td>Select item</td><td>0-9</td></tr>
	  <tr><td>Add new item</td><td>a</td></tr>
	  <tr><td>View pdf</td><td>v</td></tr>
	  <tr><td>Show item</td><td>s</td></tr>
	  <tr><td>Edit item</td><td>e</td></tr>
	  <tr><td>Delete item</td><td>d</td></tr>
	  <tr><td>Email item</td><td>m</td></tr>
	</table>
</div>


<div id=info style='display:none'>
    <div class="pad1"></div>    

    <div style="float:right">
      <table>
	<th>Function</th>  <th> key  </th>
	<tr><td>Show</td>  <td>s or /</td></tr>
	<tr><td>Edit</td>  <td>e or *</td></tr>
	<tr><td>Delete</td><td>d or -</td></tr>
      </table>
    </div>
    
    <div id="mode">Select Mode</div>
</div>

<div id=mode></div>
<div id=modeKeys></div>

<div class="nav">
  <div class="pad1"></div>
  <% if current_user %>
  
    <%= link_to '<div class="menuitem">1-New</div>', :controller => 'new' %>
    <%= link_to '<div class="menuitem">2-Pdf</div>', :controller => 'pdfs' %>
    <%= link_to '<div class="menuitem">3-Client</div>', :controller => 'clients' %>
    <%= link_to '<div class="menuitem">4-Category</div>', :controller => 'categories' %>

    <% if current_user.is_admin? %>
      <%= link_to '<div class="menuitem">7-Missing</div>', :controller => 'missing' %>
      <%= link_to '<div class="menuitem">8-Users</div>', :controller => 'users' %>
      <%= link_to '<div class="menuitem">9-Firms</div>', :controller => 'firms' %>
    <% end %>

    <%= link_to '<div class="menuitem">0-Logout</div>', :controller => 'sessions', :action => 'destroy' %>
  
  <% end %>

  <%= link_to_function '<div class="menuitem">?-Help</div>', "Element.toggle('help');" %>
</div>

<div id=flash><%= flash[:notice] %></div>

<div id=foot>
  <div class="pad1"></div>
  <div id=footerLeft>
    <span id="footerAPP">PDFCat <%= PDFCAT_VERSION %></span>
  </div>
  
  <div id=footerRight>
    <% unless current_user.nil? %>
      Logged in as: <%= current_user.login unless current_user.nil? %>,
      Firm: <%= current_firm.name unless current_firm.nil?  %>
    <% end %>
  </div>
</div>


<!-- Adding fancy tinting, which also disables the background (good thing) and centers the message box -->
<div id="background_tint" style=display:none></div>

<div id=background_center style=display:none>
  <table height=100%><tr><td align=center>
	<div id=wait style=display:none>
	  <table>
	    <tr>
	      <td>
		<span id=inforelink style=display:none>Relinking pdf file in database</span>
		<span id=infoemail style=display:none>Sending email</span>	
		, Please wait...
	      </td>
	      <td><%= image_tag "indicator.gif", :id => 'indicator' %></td>
	    </tr>
	  </table>
	</div>
  </td></tr></table>
</div>

</body>
</html>
