<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Pdfs: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>		<!-- Used for AJAX -->
</head>
<body>

	<div id="headingback">
		<div id="heading"><%=h controller.controller_name.singularize %></div>
	</div>

	<div class="nav">
		<%= link_to '<div class="menuitem">New</div>', :controller => 'new' %>
		<%= link_to '<div class="menuitem">Pdf</div>', :controller => 'pdfs' %>
		<%= link_to '<div class="menuitem">Client</div>', :controller => 'clients' %>
		<%= link_to '<div class="menuitem">Category</div>', :controller => 'categories' %>
	</div>
	

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
